<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<span th:text="${userName}"></span>
${test}
<span id="messages"></span>

<button onclick="start(new Date())">Send</button>
<script type="text/javascript">
    var webSocket=new WebSocket("ws://localhost:8000/rawwebsocket");
    webSocket.onerror=function (ev) { onerror(ev) };
    webSocket.onopen=function (ev) { onopen(ev) };
    webSocket.onmessage=function (ev) { onmessage(ev) };
    function onmessage(event) {
        document.getElementById("messages").innerHTML+='<br/>'+event.data;
    }
    function onopen(event) {
        document.getElementById("messages").innerHTML="连接建立";
    }
    function onerror(event) {
        alert(event.data);
    }
    function start() {
        webSocket.send("hello");
        return false;
    }

</script>
</body>

</html>